
.parent{
    width: 400px;
    height: 500px;
    position: relative;
    margin: 50px auto;
    box-shadow: 5px 5px 5px red;
    perspective: 800px;
    overflow: hidden;
    img{
        width: inherit;
        height: inherit;
    }
    .cover{
        width: inherit;
        height: inherit;
        position: absolute;
        background:url(../photo_2025-08-10_18-07-54.jpg) no-repeat;
        background-size: cover;
        top: 100%;
        transition: all 600ms;
     
        h1{
            text-align: center;
            color:red;
            margin-top: 5px ;
            text-shadow:5px 5px 7px red;
            text-transform: capitalize;
            transform: translateY(200px);
                        opacity: 0;
transition-delay: 500ms;
transition: 1000ms;
        }
          a{
            text-align: center;
            color:red;
            margin-bottom: 800px ;
            text-transform: capitalize;
            transform: translateY(100px);
            background:url(../photo_2025-08-10_18-07-54.jpg) no-repeat;
            background-size: cover;
            opacity: 0;
            height: 70px;
            font-size: 25px;
            text-align: center;
            border-radius: 30px;
            width: 50%;
            margin-left: 145px;
            transition-delay: 2000ms;
            text-decoration:none ;
transition: 1600ms;
           &:hover{
            color:chartreuse;
            background-color: white;
           }
        }
    }
    &:hover>.cover{
top: 0px;
    }
    &:hover>.cover>h1,
    &:hover>.cover>a{
transform: translateY(0deg);
opacity: 1;
        }
}